@font-face{
    src: url(font/Kanit-Regular);
    font-family: Kanit;
}
.list_navbar{
    background-color:#343C43;
    height: 50px;
    font-family: Kanit;
}
.list_slide{
    background-color: rgb(255, 255, 255);
    height: 12cm;
    font-family: Kanit;
}
.list_technician{
    background-color: #EEEEEE;
    /* height: 50cm;  */
    /* padding-bottom: 5rem; */
}
.list_add{
    background-color: #EEEEEE;
    padding-bottom: 2rem;
}
#navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 0px 22px;
    text-decoration: none;
    font-size: 17px;
  }
#navbar a:hover {
    color: rgb(255, 255, 255);
  }
  
#navbar a.active {
    color: rgb(255, 255, 255);
    font-size: 25px;
  }
/* .container .img1 .img2{
    background-color:#a8a8a8;
    padding: 2px;
    text-align: center;
    width: 100%;
} */
.container .img1{
    background-image: url('../image/4.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 160px 40px;
    padding-top: 1.5rem;
    padding-bottom: 5rem;
}

.profile_1{
    margin: 50px;
    text-align: center;
    font-family: Kanit;
    /* background-color: rgb(0, 0, 0); */
}
.profile_2{
    background-color: #eeeeeea1;
    border-radius: 20px;
    padding-top: 1rem;
    padding-right: 0.5rem;
    padding-bottom: 2rem;
    font-family: Kanit;
}

#profile{
    width: 50mm;
    display: grid;
    grid-gap: 10px;
    background: #ffffff;
    font-family: Kanit;
}
.list_search .imgsearch{
    background-image: url('../image/5.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 160px 40px;
    height: 12rem;
}
.text2{
    font-size: 60px;
    color: rgb(255, 255, 255);
    transform: translate(43%, -105px);
}
.container .searchs{
    /* background-color: black; */
    transform: translate(100%, -80px);
}
#imgprofile{
    border: 2px solid #0d6efd;
    overflow: hidden;
    border-radius: 50%;
}
