@font-face{
    src: url(font/Kanit-Regular);
    font-family: Kanit;
}

body{
    background-color: #00000041;
}
.container{
    transform: translate(3px, auto);
}   
.list_navbar{

    background-color:#343C43;
    height: 70px;
    /* position: fixed; */
    font-family: Kanit;
    
}
.list_slide{
    background-color: rgb(255, 255, 255);
    height: 19cm;
    font-family: Kanit;
    z-index:1040;
    
    
}
.list_technician{
    background-color: #EEEEEE;
    box-shadow: 0px 10px 10px 8px rgba(0, 0, 0, 0.19);
    
}
.list_add{
    background-color: #EEEEEE;
    padding-bottom: 2rem;
    
    
}
.list_search{
    
    background-color: #ffffff;
    font-family: Kanit;
    
    font-weight: bold;
}
.footers{
    font-family: Kanit;
    color: rgb(0, 0, 0);
    
}
#navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 0px 22px;
    text-decoration: none;
    font-size: 22px;
  }
#navbar a:hover {
    color: rgb(255, 255, 255);
  }
  
#navbar a.active {
    color: rgb(255, 255, 255);
    font-size: 30px;
  }

.container .img1{
    background-image: url('../image/4.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 160px 40px;
    padding-top: 1.5rem;
    padding-bottom: 5rem;
}

.profile_1{
    margin: 50px;
    text-align: center;
    font-family: Kanit;
    /* background-color: rgb(0, 0, 0); */
}
.profile_2{
    background-color: #eeeeeea1;
    border-radius: 20px;
    padding-top: 1rem;
    padding-right: 0.5rem;
    padding-bottom: 2rem;
    font-family: Kanit;
}

#profile{
    padding: 20px;
    width: 70%;
    margin: 30px auto;
    display: flex;
    grid-gap: 10px;
    background: #ffffff;
    border-radius: 12px;
    color: #686969;
    /* border: 1px solid #696969; */
    font-family: Kanit;
}
#profileimg{
    margin-left: 2rem;
    padding: 8px;
    border-radius: 14px;
    /* border: 2px solid #ff7b00; */
    overflow: hidden;
    
}
.list_search .imgsearch{
    background-image: url('../image/5.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 160px 40px;
    height: 12rem;
}
.list_search .imgsearchs{
    background-image: url('../image/5.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 160px 40px;
    height: 12rem;
}
.text2{
    font-size: 60px;
    color: rgb(255, 255, 255);
    transform: translate(43%, -105px);
}
.text3{
    font-size: 60px;
    color: #343C43;
    margin: auto;
    /* transform: translate(43%, -105px); */
    transform: translate(40px, -20px);
    margin-top: 5rem;
}
.text4{
    font-size: 60px;
    color: rgb(255, 255, 255);
    transform: translate(75%, -95px);
}
.container .searchs{
    /* background-color: black; */
    transform: translate(100%, -80px);
}
.container .search{
    width: 30%;
    transform: translate(120%, -80px);

}
#imgprofile{
    border: 2px solid #0d6efd;
    overflow: hidden;
    border-radius: 50%;
}
.text{
    margin-left: 3rem;
    color: rgb(0, 0, 0);
}
.slide_S h4{
    font-size: 50px;
    margin-top: 3rem;
    color: #686969;
}
.slide_S p{
    font-size: 28px;
    font-weight: initial;
    font-style: italic;
    color: #686969;
}
.slide_S hr{
    width: 200mm;
    margin: 2rem auto;
}
#profile .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: stretch;
    align-items: center;
    column-gap: 13px;
  }
  
#profile  .content {
    color: #686969;
    font-weight: lighter;
    /* background-color: #ffffff; */
    font-weight: 600;
    /* text-align: center; */
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
  }